<div class="">
  <app-hero-img *ngIf="hero" [visible]="foods.length?true:false"></app-hero-img>

  <app-features [visible]="foods.length?true:false"></app-features>

  <app-search></app-search>
  <app-tags></app-tags>
  <app-not-found
    [visible]="!foods || !foods.length"
    resentLinkText="Reset Search"
  ></app-not-found>
  <div class="flex flex-wrap justify-center px-4 mx-auto md:px-12">
    <div
      class="flex flex-wrap items-center content-start justify-center w-full h-full gap-2 py-4 mx-auto sm:gap-5 md:gap-9 "
    >
      <div class="" *ngFor="let food of foods">
        <!-- card -->
        <section
          class="flex flex-col overflow-hidden text-[#2D242] border-[0.2rem] sm:border-[0.5rem] border-amber-500 border-opacity-60 rounded-md shadow-lg min-w-full sm:min-w-fit sm:max-w-fit max-h-[385px] sm:min-h-[385px] hover:opacity-[0.9] "
        >
          <a routerLink = "/food/{{ food.id }}">
            <img
              alt="Placeholder"
              class=" w-[16rem] h-[13rem] sm:min-w-[272px] sm:max-w-[272px] object-cover min-h-[195px] max-h-[195px] hover:ease-linear hover:scale-105"
              src="{{ food.imageUrl}}"
              [alt]="food.name"
            />
          </a>

          <section class="flex flex-col leading-tight p-2 bg-secondary_bg md:p-4  w-[16rem] h-[4rem] sm:min-w-[272px] sm:max-w-[272px] sm:min-h-[199px] max-h-[199px]">
            <div class="flex items-center justify-between leading-tight">
              <h1 class="text-lg line-clamp-2">
                <a class="no-underline" href="#">
                  {{ food.name }}
                </a>
              </h1>
              <div class="items-center hidden gap-3 sm:flex">
                <span
                ><i

                  class="fa-solid fa-heart  favorites text-[#e72929] text-2xl {{food.favorite?'':' text-gray-400 text-2xl'}}"
                  (click)="changeFavorite(food)"
                ></i
              ></span>
              <span
              ><i
                class="hidden text-2xl text-orange-900 sm:block fa-solid fa-bag-shopping favorites"
                (click)="addToCart(food)"
              ></i
            ></span>
              </div>
            </div>
            <div class="hidden sm:block stars mb-[0.2rem]">
              <star-rating
                [value]="food.stars"
                [totalstars]="5"
                checkedcolor="red"
                uncheckedcolor="white"
                size="22px"
                [readonly]="false"
              ></star-rating>
            </div>
            <div class="hidden sm:block">
                <span
                class="rounded-[2rem]  bg-slate-200 inline-block text-[0.9rem] text-gray-600 mr-[0.3rem] py-[0.2rem] px-[0.5rem] mt-[0.2rem]"
                *ngFor="let origin of food.origins"
                >
                {{ origin }}
              </span>
            </div>
            <div class="hidden sm:flex justify-between mt-[0.7rem] p-2 items-start">
              <div
                class="cook-time  w-fit rounded-[2rem] bg-lime-200 inline-block text-[0.9rem] text-gray-600 mr-[0.3rem] py-[0.2rem] px-[0.5rem]"
              >
                <span>🕐</span> {{ food.cookTime }}
              </div>
              <div
              class="price left-[0.9rem] pb-[0.3rem] px-0 text-[#414141] text-[1.1rem] w-fit inline-block t  mr-[0.3rem] py-[0.2rem] ]"
              >
              <span>{{ food.price | currency }}</span>
            </div>
            </div>
          </section>

          <!-- <footer class="flex items-center justify-between h-full p-2 leading-none md:p-4">
                  <a class="flex items-center text-black no-underline hover:underline" href="#">
                      <p class="ml-2 text-sm">
                          BakeHall Assured
                      </p>
                  </a>
              </footer> -->
        </section>

        <!-- END card -->
      </div>
    </div>
  </div>

  <footer class="relative bg-[#2D2424] text-slate-200 pt-8 pb-6">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full px-4 lg:w-6/12 ">
          <h4 class="text-3xl fonat-semibold text-blueGray-700">
            Let's keep in touch!
          </h4>
          <h5 class="mt-0 mb-2 text-lg text-blueGray-600">
            Find us on any of these platforms, we respond 1-2 business days.
          </h5>
          <div class="mt-6 mb-6 text-black lg:mb-0">
            <button
              class="items-center justify-center w-10 h-10 mr-2 font-normal bg-white rounded-full shadow-lg outline-none text-lightBlue-400 align-center focus:outline-none"
              type="button"
            >
              <i class="fab fa-twitter"></i></button
            ><button
              class="items-center justify-center w-10 h-10 mr-2 font-normal bg-white rounded-full shadow-lg outline-none text-lightBlue-600 align-center focus:outline-none"
              type="button"
            >
              <i class="fab fa-facebook-square"></i></button
            ><button
              class="items-center justify-center w-10 h-10 mr-2 font-normal bg-white rounded-full shadow-lg outline-none text-blueGray-800 align-center focus:outline-none"
              type="button"
              onclick="location.href = 'https://github.com/adhilansari'"

            >
              <i class="fab fa-github" ></i>
            </button>
          </div>
        </div>
        <div class="w-full px-4 lg:w-6/12">
          <div class="flex flex-wrap mb-6 items-top">
            <div class="w-full px-4 ml-auto lg:w-4/12">
              <span
                class="block mb-2 text-sm font-semibold uppercase text-blueGray-500"
                >Useful Links</span
              >
              <ul class="list-unstyled">
                <li>
                  <a
                    class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="#"
                    >About Us</a
                  >
                </li>
                <li>
                  <a
                    class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="https://github.com/adhilansari"
                    >Github</a
                  >
                </li>
              </ul>
            </div>
            <div class="w-full px-4 lg:w-4/12">
              <span
                class="block mb-2 text-sm font-semibold uppercase text-blueGray-500"
                >Other Resources</span
              >
              <ul class="list-unstyled">

                <li>
                  <a
                    class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="#"
                    >Terms & Conditions</a
                  >
                </li>
                <li>
                  <a
                    class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="#"
                    >Privacy Policy</a
                  >
                </li>
                <li>
                  <a
                    class="block pb-2 text-sm font-semibold text-blueGray-600 hover:text-blueGray-800"
                    href="#"
                    >Contact Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </footer>
</div>
