.with-conic-gradient {
  border-style: solid;
  border-width: 10px;
  border-image: conic-gradient(rgb(57, 31, 31), rgb(48, 30, 30), rgb(86, 52, 52), rgb(69, 42, 42), rgb(72, 44, 44), rgb(45, 17, 17), rgb(20, 2, 2)) 1;
}
.with-border-image {
  border-style: solid;
  border-width: 20px;
  border-image: url('../../../../assets/wood.jpg');
  border-image-slice: 60 30;
}
