<header class=" bg-[#2D2424] sticky top-0 z-50">
  <div class="container flex mx-auto justify-between sm:text-[1.2rem] text-white">
    <a class=" hover:bg-[#5C3D2E] hover:cursor-pointer font-bold p-4" routerLink="/">BAKE HALL</a>
    <nav>
      <ul class="flex gap-1 m-0">
        <li class="hidden sm:block"><a class="p-2 py-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/admin" *ngIf="user.isAdmin">Dashboard</a></li>
        <a class="hidden sm:block p-4 hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/admin" *ngIf="user.isAdmin">Dashboard</a>
        <li><a class="p-2 py-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" (click)="Favorites()">Wishlist</a></li>

        <li class="relative menu-container" *ngIf="isAuth">
          <a class="p-2 py-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/">{{user.name}}</a>
          <!-- add else -->
          <div class="absolute z-[1] hidden bg-[#2D2424] menu ">
            <a class=" w-full min-w-[8rem] p-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/profile">Profile</a>
            <a class="sm:hidden p-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/admin" *ngIf="user.isAdmin">Dashboard</a>
            <a class=" w-full min-w-[8rem] p-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/orders">Orders</a>
            <a class=" w-full min-w-[8rem] p-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" (click)="logOut()">Log Out</a>
          </div>
        </li>
        <li>
          <a class="px-2 py-4 inline-block hover:bg-[#5C3D2E] hover:cursor-pointer" routerLink="/cart-page">Cart <span class="bg-[#ff4d4d] text-white py-[0.1rem] px-[0.45rem] rounded-full text-[0.9rem]" *ngIf="cartQuantity">{{cartQuantity}}</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
