<div class="flex items-center justify-center  mb-[1.5rem]">

  <input #s type="search" (keyup.enter)="search(s.value)" [value]="searchKey" class="border-none p-[1.2rem] text-[1.1rem] font-medium outline-none h-[3rem] w-[11rem] md:w-[22rem] text-gray-900 rounded-l-[10rem] bg-search" placeholder="Search foods..." required>
  <button type="submit" class="text-white h-[3rem] w-[5rem] text-[1rem] rounded-r-[10rem] border-none bg-red-600  outline-none hover:opacity-[0.8] cursor-pointer " (click)="search(s.value)">Search</button>
</div>
