<!-- <app-title title="Login"></app-title> -->
<section class="flex items-center justify-center gradient-form min-h-[calc(100vh-56px)] overflow-auto bg-[#5C3D2E]">
  <div class="w-full  h-[calc(100vh-65px)] p-4 sm:p-6 ">
    <div class="g-6 flex h-fit flex-wrap items-center justify-center dark:text-neutral-200 ">
      <div class="flex justify-center w-full">

        <div class="lg:w-6/12">
          <div class="md:mx-6 rounded-xl text-[#1f0f0f] p-2 md:p-12 shadow-xl bg-[#E0C097]">
            <!--Logo-->
            <div class="text-center">
              <img class="mx-auto sm:w-[14rem]" src="../../../../assets/bakehall-logo.png" alt="logo" />
              <h4 class="mb-12 mt-4 pb-1 text-xl font-semibold">
                Back Hall
              </h4>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="Submit()">
              <p class="mb-4 text-xl">Please login to your account</p>
              <!--Username input-->
        <label class="font-medium inline-block mb-3 text-lg uppercase">Email</label>
              <div class="relative mb-4">
                <input type="email" formControlName="email"
                class="w-full p-4 focus:outline-none ring-1  rounded-md"
                  placeholder="User Email">

                <div class="text-red-600 flex gap-2 mt-2" *ngIf="fc.email.errors && isSubmitted">
                  <div *ngIf="fc.email.errors.required">should not be empty</div>
                  <div *ngIf="fc.email.errors.email">Email is not correct</div>
                </div>
              </div>

              <!--Password input-->
        <label class="font-medium inline-block mb-3 text-lg uppercase">Password</label>

              <div class="relative mb-4">
                <input type="password" formControlName="password"
                class="w-full p-4 focus:outline-none ring-1  rounded-md"
                  placeholder="Password">
                <div class="text-red-600 flex gap-2 mt-2" *ngIf="fc.password.errors&&isSubmitted">
                  <div *ngIf="fc.password.errors.required">should not be empty</div>
                </div>
              </div>

              <!--Submit button-->
              <div class="mb-12 pb-1 pt-1 text-center">
                <button mat-raised-button type="submit"
                  class=" p-6 w-full rounded-md px-8 bg-[#2D2424] text-white">Login</button>
                <!--Forgot password link-->
                <!-- <a href="#!">Forgot password?</a> -->
              </div>

              <!--Register button-->
              <div class="flex items-center text-lg pb-6">
                <p class="mb-0 mr-2">Don't have an account?</p>
                <a routerLink="/register" [queryParams]="{returnUrl:returnUrl}"
                  class="text-slate-800 hover:underline py-6">Register Now</a>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
