/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

  @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body{
  background-image:url(../src/assets/path12.png);
  background-attachment: fixed;

}

@layer components {

  body {
    @apply scroll-smooth

  }

}


*{
  box-sizing: border-box;
}

html{
  font: size 16px;
}
html,button{
  font-family: 'Quicksand', sans-serif;
}
body{
  margin: 0;
}

