<!-- ====== Services Section Start -->
<section class="pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] text-orange-400 ">
  <div class="container mx-auto">
    <div class=" flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[510px] text-center backdrop-blur-sm lg:mb-20">
          <!-- <span class="text-primary mb-2 block text-lg font-semibold">
            Free delivery 7 days a week
          </span> -->
          <h2
            class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]"
          >
          HOW IT WORKS
          </h2>
          <span class="mb-2 block text-lg font-semibold">
            Free delivery 7 days a week
          </span>
          <!-- <p class="text-body-color text-base">
            Free delivery 7 days a week
          </p> -->
        </div>
      </div>
    </div>
    <div class="mx-auto  flex flex-wrap">
      <div class="w-full px-4 md:w-1/2  lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] flex flex-col justify-center items-center border-[0.7rem] border-amber-500 border-opacity-60 backdrop-blur-md p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class="mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
          <i class="fa-solid fa-utensils text-slate-100 sm:text-[5rem]"></i>
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
            Choose Your Favorite
          </h4>
          <p class="text-body-color">
            Choose your favorite food and order online or by phone. It's easy to customize your order.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2  lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] flex flex-col justify-center items-center border-[0.7rem] border-amber-500 border-opacity-60 backdrop-blur-md p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class=" mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
           <span><i class="fa-solid fa-truck-fast text-slate-100 sm:text-[5rem]"></i></span>
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">
            We Deliver Your Food
          </h4>
          <p class="text-body-color">
            We prepared and delivered food arrive at your door.
          </p>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2  lg:w-1/3">
        <div
          class="mb-8 rounded-[20px] flex flex-col justify-center items-center border-[0.7rem] border-amber-500 border-opacity-60 backdrop-blur-md p-10 shadow-md hover:shadow-lg md:px-7 xl:px-10"
        >
          <div
            class=" mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl"
          >
            <span><i class="fa-solid fa-face-smile-beam text-slate-100 sm:text-[5rem]"></i></span>
          </div>
          <h4 class="text-dark mb-3 text-xl font-semibold">Eat And Enjoy</h4>
          <p class="text-body-color">
            No shooping, no cooking, no counting and no cleaning. Enjoy your tasty food with your family.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
